#follow {
	display: block;
	background: white;
	color: black;
	/*padding: 30px;*/
	/*border: 3px solid red;*/
}

.background-logo {
	background: url("../../images/background/cat-rodeo-background.png") no-repeat top;
	background-size: 100% auto;
	padding: 25px 0 32px;
}

@media only screen and (max-width: 1200px) {
	.background-logo {
		background: url("../../images/background/rodeo-background.png") no-repeat center;
		background-size: 100% auto;
	}
}

.block-follow {
	/*border: 3px solid red;*/
	width: 50%;
	margin: auto;
	color: #212121;
}

@media only screen and (max-width: 1200px) {
	.block-follow {
		width: 60%;
	}
}

@media only screen and (max-width: 950px) {
	.block-follow {
		width: 85%;
	}
}

.block-follow p {
	text-align: center;
	font-weight: 500;
}