/* autoprefixer grid: autoplace */

.photos {
	display: grid;
	justify-content: space-between;
	align-content: start;
	grid-template-columns: repeat(4, 250px);
	grid-template-rows: repeat(4, 250px);
	grid-gap: 30px;
	margin: 0 auto;
	margin-bottom: 100px;
	/*border: 2px solid green;*/
}

@media only screen and (max-width: 1207px) {
	.photos {
		grid-template-columns: repeat(4, 200px);
		grid-template-rows: repeat(4, 200px);
	}
}

@media only screen and (max-width: 1030px) {
	.photos {
		grid-template-columns: repeat(2, 400px);
		grid-template-rows: repeat(8, 400px);
	}
}

@media only screen and (max-width: 950px) {
	.photos {
		grid-template-columns: repeat(2, 350px);
		grid-template-rows: repeat(8, 350px);
	}
}

@media only screen and (max-width: 850px) {
	.photos {
		grid-template-columns: repeat(2, 300px);
		grid-template-rows: repeat(8, 300px);
	}
}

@media only screen and (max-width: 750px) {
	.photos {
		grid-template-columns: repeat(2, 250px);
		grid-template-rows: repeat(8, 250px);
	}
}

@media only screen and (max-width: 650px) {
	.photos {
		grid-template-columns: repeat(1, 400px);
		grid-template-rows: repeat(16, 400px);
		justify-content: center;
	}
}

@media only screen and (max-width: 450px) {
	.photos {
		grid-template-columns: repeat(1, 300px);
		grid-template-rows: repeat(16, 300px);
	}
}

@media only screen and (max-width: 300px) {
	.photos {
		grid-template-columns: repeat(1, 200px);
		grid-template-rows: repeat(16, 200px);
	}
}


/* Caption of Modal Image */
/* #caption {
  margin: auto;
  display: block;
  width: 40%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
} */
