@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: white;
	background-color: black;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	margin: 0;
}

.margin-reduit {
	margin: 0 50px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: grey;
}

.logo a:hover {
	text-decoration:none;
	color: white;
}

h2 {
	font-size: 2em;
}

div:target {
    padding-top: 4em; 
    margin-top: -4em; 
}

@media only screen and (max-width: 500px) {
    h2 {
		text-align: center;
	}
}


